.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 500px;
  /* flex-shrink: 0; */
  background-color: rgba(126, 144, 254, 0.05);
}
/* .banner-text {
  width: 570px;
} */
.banner-text {
  height: 100vh;
  margin-top: 148px;
}
.banner-text h1 {
  font-size: 80px;
  font-style: normal;
  /* line-height: 100px; */
  /* margin-bottom: 24px; */
  margin: 0;
}
.banner-container img {
  max-width: 816px;
  max-height: 100vh;
  margin-top: -70px;
}
.btn-getStart {
  padding: 19px 28px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  color: white;
}
.dream-job {
  background: linear-gradient(
    126deg,
    rgba(126, 144, 254, 1),
    rgba(152, 115, 255, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}
/* (126, 144, 254, 1),
    rgba(152, 115, 255, 1) */
